---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-12">
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        Pratap Singh
      </h1>
      <p class="mb-6 text-2xl font-semibold">Computer Science Student</p>

      <div class="max-w-prose">
        <p>
          I believe in growth through dedication and curiosity. I enjoy solving
          problems, thinking deeply about how things work, and finding better
          ways to approach life and work. My habits of consistency, patience, and
          attention to detail help me deliver high-quality results.
        </p>
      </div>

      <div class="mt-8 flex flex-col items-start gap-6 sm:flex-row sm:items-center">
        <LinkButton href="mailto:pratap.09082005@gmail.com">
          Get In Touch
        </LinkButton>
        {
          SOCIALS.length > 0 && (
            <div class="flex items-center gap-2">
              <span class="whitespace-nowrap">Connect with me:</span>
              <Socials />
            </div>
          )
        }
      </div>
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <Hr />
          <section id="featured" class="py-12">
            <h2 class="text-2xl font-semibold tracking-wide">
              Featured Articles
            </h2>
            <ul class="mt-8">
              {featuredPosts.map(data => <Card variant="h3" {...data} />)}
            </ul>
          </section>
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <>
          {featuredPosts.length > 0 && <Hr />}
          <section id="recent-posts" class="py-12">
            <h2 class="text-2xl font-semibold tracking-wide">Latest Writings</h2>
            <ul class="mt-8">
              {recentPosts.map(
                (data, index) =>
                  index < SITE.postPerIndex && <Card variant="h3" {...data} />
              )}
            </ul>
          </section>
        </>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>